@font-face{
    font-family:'bitbit';
    src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
}

body, h1, p {
    margin: 0;
    padding: 0;
}

.container {
    height: 35vh;
    margin: 300px auto;
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.title {
    font-family:'bitbit', 'sans-serif';
    color: antiquewhite;
    font-size: 100px;
    display: flex;
    justify-content: center;
}

.loginButton {
    cursor: pointer;
    display: flex;
    justify-content: center;
    /*margin-top: 500px;*/
}